.about-img-box {
  
  width: 100%;
}

.about-img {
  width: 30%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.about-img1 {
  width: 30%;
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
