.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
}

.contact-form button {
  padding: 12px;
  background: #ffca28;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #ffc107;
}

.social-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social-icon,
.social-icon1 {
  font-size: 34px;
  transition: 0.3s;
}

.social-icon {
  color: #ff6f00;
}

.social-icon1 {
  color: #1877f2;
}

.social-icon:hover,
.social-icon1:hover {
  transform: scale(1.2);
}
