.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Left side */
.nav-left {
  display: flex;
  align-items: center;
}

.ngo-logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 12px;
  border: 2px solid white;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

/* Links */
.nav-links a {
  margin-left: 20px;
  font-weight: 500;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffe082;
}

/* Responsive */
@media (max-width: 700px) {
  .logo-text {
    font-size: 16px;
  }

  .ngo-logo {
    width: 45px;
    height: 45px;
  }

  .nav-links a {
    margin-left: 12px;
  }
}
.hero-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 15px;
}
