body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #5d4037, #3e2723);
  background-attachment: fixed;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}
